RewriteEngine On

# Принудительный редирект с index.html
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

# Принудительный редирект с index.php
RewriteRule ^index\.php$ / [R=301,L]
RewriteRule ^(.*)/index\.php$ /$1/ [R=301,L]

# Определяем главное зеркало без www
RewriteCond %{HTTP_HOST} ^www\.klimovmaksim\.ru$ [NC]
RewriteRule ^(.*)$ https://maxdev.by/$1 [R=301,L]

# Принудительный редирект на https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Редирект на 404 страницу
ErrorDocument 404 https://maxdev.by/404.html