.form {
  max-width: 350px;
  display: flex;
  flex-direction: column;

  @include mobile {
    max-width: 100%;
  }
  // .form__label

  &__label {
    padding: 1rem 0;
    margin-bottom: 3rem;
    position: relative;
    border-bottom: 2px solid hsl(216, 5%, 36%);

    &:focus-within {
      border-bottom: 2px solid var(--red-color);
    }

    &:focus-within .form__svg-icon {
      color: var(--red-color);
    }
  }

  // .form__name

  &__name,
  &__tel {
    font-family: var(--font-family-other);
    font-size: 2.5rem;
    color: var(--text-color);
    position: relative;
    width: 100%;
    background: transparent;

    &::placeholder {
      color: var(--white-color);
    }
  }

  // .form__svg-icon

  &__svg-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    fill: currentColor;
    color: var(--text-color);
  }

  // .form__tel

  &__tel {}


  // .form__text

  &__text {
    display: block;
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: 1rem;
  }

  // .form__btn

  &__btn {
    margin-bottom: 2rem;
    padding: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--white-color);
    transition: background-color .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    @include hover {
      background-color: var(--red-color-light);
    }
  }
}
