/* stylelint-disable */

@mixin burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@mixin burger-2 {
  --burger-width: 3.5rem;
  --burger-height: 3.5rem;
  --bg-color: #fff;
  --bg-color-dark: #fff;

  border: 2px solid var(--bg-color);
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  margin-right: .8rem;

  span {
    transition: .3s;
    position: absolute;
    border-radius: 1rem;
    background: var(--bg-color);
    width: 2.5rem;
    height: .2rem;
    left: 4px;
  }

  span:nth-child(1) {
    transform: translateY(-0.7rem);
    width: 1.7rem;
  }

  span:nth-child(2) {
    transform: translateY(0.7rem);
    width: 1.4rem;
  }

  &.active {
    border-color: var(--bg-color-dark);
  }

  &.active span {
    background: var(--bg-color-dark);
  }

  &.active span:nth-child(3) {
    transform: translateX(6rem);
  }

  &.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    width: 2.5rem;
    transition-delay: .125s;
  }

  &.active span:nth-child(2) {
    transform: translateY(0) rotate(315deg);
    width: 2.5rem;
    transition-delay: .25s;
  }
}
