<section class="club-cart" id="club-cart">
  <div class="container">
    <div class="club-cart__title title">Клубные карты</div>
    <p class="club-cart__description">Вы можете приобрести клубную карту разных ценовых категорий.</p>

    <div class="club-cart__content">
      <div class="club-cart__container">
        <div class="club-cart__window">
          <ul class="club-cart__window-item club-cart__window-item_active" data-image="maks">
            <div class="club-cart__top-block">
              <div class="club-cart__w-title title">Максимальный</div>
              <p class="club-cart__w-description">Посещение всех клубов сети</p>
            </div>
            <div class="club-cart__w-liss">
              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">Безлимитное круглосуточное посещение клуба</li>
                <li class="club-cart__w-item">Доступ ко все групповым занятиям</li>
                <li class="club-cart__w-item">Шкафчик для VIP клиентов</li>
                <li class="club-cart__w-item">Место на парковке</li>
                <li class="club-cart__w-item">Гостевых клиентов</li>
              </ul>

              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
              </ul>
            </div>
          </ul>
          <ul class="club-cart__window-item" data-image="base">
            <div class="club-cart__top-block">
              <div class="club-cart__w-title title">Базовый</div>
              <p class="club-cart__w-description">Посещение всех клубов сети</p>
            </div>
            <div class="club-cart__w-liss">
              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">Посещение ночного клуба, дней / м</li>
                <li class="club-cart__w-item">Доступ ко всем групповым занятиям</li>
                <li class="club-cart__w-item">Шкафчик для VIP клиентов</li>
                <li class="club-cart__w-item">Место на парковке</li>
                <li class="club-cart__w-item">Гостевых клиентов</li>
              </ul>

              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">10</li>
                <li class="club-cart__w-item">Нет</li>
                <li class="club-cart__w-item">Нет</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">1</li>
              </ul>
            </div>
          </ul>
          <ul class="club-cart__window-item" data-image="group-plus">
            <div class="club-cart__top-block">
              <div class="club-cart__w-title title">Групповой плюс</div>
              <p class="club-cart__w-description">Посещение всех клубов сети</p>
            </div>
            <div class="club-cart__w-liss">
              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">Посещение ночного клуба, дней / м</li>
                <li class="club-cart__w-item">Доступ ко всем групповым занятиям</li>
                <li class="club-cart__w-item">Шкафчик для VIP клиентов</li>
                <li class="club-cart__w-item">Место на парковке</li>
                <li class="club-cart__w-item">Гостевых клиентов</li>
              </ul>

              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">10</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">10</li>
              </ul>
            </div>
          </ul>
          <ul class="club-cart__window-item" data-image="group">
            <div class="club-cart__top-block">
              <div class="club-cart__w-title title">Групповой</div>
              <p class="club-cart__w-description">Посещение всех клубов сети</p>
            </div>
            <div class="club-cart__w-liss">
              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">Посещение ночного клуба, дней / м</li>
                <li class="club-cart__w-item">Доступ ко всем групповым занятиям</li>
                <li class="club-cart__w-item">Шкафчик для VIP клиентов</li>
                <li class="club-cart__w-item">Место на парковке</li>
                <li class="club-cart__w-item">Гостевых клиентов</li>
              </ul>

              <ul class="club-cart__w-list-block">
                <li class="club-cart__w-item">10</li>
                <li class="club-cart__w-item">Нет</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">Да</li>
                <li class="club-cart__w-item">5</li>
              </ul>
            </div>
          </ul>
        </div>
        <div class="club-cart__nav">
          <ul class="club-cart__list">
            <li class="club-cart__item club-cart__item_active" data-nav="maks">Максимальный</li>
            <li class="club-cart__item" data-nav="base">Базовый</li>
            <li class="club-cart__item" data-nav="group-plus">Групповой плюс</li>
            <li class="club-cart__item" data-nav="group">Групповой</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
