<section class="contacts-forms" id="contacts-forms">
  <div class="container">
    <div class="contacts-forms__wr-content">
      <div class="contacts-forms__wr-title title">Контакты</div>
      <p class="contacts-forms__data">Горячая линия</p>
      <a href="tel:+375299999999" class="contacts-forms__call">+375 (29) 999-88-77</a>
      <p class="contacts-forms__data">Адрес</p>
      <p class="contacts-forms__adress">Республика Беларусь, г.Минск, пр-кт независимости, 30</p>
      <p class="contacts-forms__data">Электронная почта</p>
      <a href="mailto:+375299999999" class="contacts-forms__mail">masterfit@mail.ru</a>
    </div>
  </div>
  <picture class="contacts-forms__image">
    <source srcset="/img/map/map.avif" type="image/avif">
    <source srcset="/img/map/map.webp" type="image/webp">
    <img loading="lazy" src="/img/map/map.jpg" class="image" alt="Где мы находимся">
  </picture>
</section>
