<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <a href="#" class="logo">Master <span>fit</span></a>

      <nav class="nav" title="Главное меню сайта">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Абонементы</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Наши клубы</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-menu-item data-scroll>Личный кабинет</a></li>
        </ul>
      </nav>

      <div class="phone">
        <svg class="phone__svg">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        <a href="tel:+375297777777" class="phone__link">
          <span>8 (029)</span> 777-77-77
        </a>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__copy">&copy 2022 Все права защищены</p>
      <a href="#" class="footer__link">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
