<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>MaxDev.by</title>
  <link rel="preload" href="fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Regular" as="font" type="font/woff2" crossorigin>
  <meta name="description" content="Описание" />
  <link rel="canonical" href="/" />
  <meta property="og:locale" content="ru_RU" />
  <meta name="keywords" content="теги для разметки" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Заголовок сайта для разметки" />
  <meta property="og:description" content="Описание разметки" />
  <meta property="og:site_name" content="example.com" />
  <meta property="og:url" content="https://example.com" />
  <meta property="og:image:url" content="https://example.com/image/bg-logo.jpg" />
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
