<section class="home section-offset" id="home">
  <div class="container">
    <div class="home__content">
      <h1 class="home__title">Круглосуточный фитнес-клуб в центре минска</h1>
      <p class="home__description">
        Запишись на бесплатное пробное занятие на любое из наших направлени и получи скидку на покупку абонемента.
      </p>
      <div class="home__button">
        <a href="tel:+375297777777" class="btn home__btn">Получить скидку</a>
      </div>

      <div class="home__bottom-block home__grid-container">
        <div class="home__item">
          <div class="home__num">50+</div>
          <p class="home__descr">
            Профессиональных тренеров и инструкторов в наших залах
          </p>
        </div>
        <div class="home__item">
          <div class="home__num">10 000+</div>
          <p class="home__descr">
            Клиентов посещают нас ежедневно
          </p>
        </div>
        <div class="home__item">
          <div class="home__num">17</div>
          <p class="home__descr">
            Различных залов для занятий по всем направлениям
          </p>
        </div>
    </div>
    </div>
  </div>
</section>
