<section class="our-programs section-offset" id="programs">
  <div class="container">
    <div class="our-programs__title title">Групповые занятия</div>
    <div class="our-programs__block-descr">
      <p class="our-programs__description">Список возможных программ которые предоставляет наш зал</p>
      <div class="our-programs__slides">
        <svg class="our-programs__svg-icon">
          <use xlink:href="img/sprite.svg#arrows"></use>
        </svg>
        Перемещайте карточки что бы узнать все виды групповых тренировок
      </div>
    </div>
  </div>

  <div class="our-programs__content">
    <div class="swiper our-programs__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="our-programs__item">
            <picture>
              <source srcset="/img/trains/cross.avif" type="image/avif">
              <source srcset="/img/trains/cross.webp" type="image/webp">
              <img loading="lazy" src="/img/trains/cross.jpg" class="our-programs__image" width="540" height="360" alt="Кроссфит">
            </picture>
            <div class="our-programs__swiper-title title">Кроссфит</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-programs__item">
            <picture>
              <source srcset="/img/trains/step.avif" type="image/avif">
              <source srcset="/img/trains/step.webp" type="image/webp">
              <img loading="lazy" src="/img/trains/step.jpg" class="our-programs__image" width="540" height="360"
                alt="Степ тренировки">
            </picture>
            <div class="our-programs__swiper-title title">Степ тренировки</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-programs__item">
            <picture>
              <source srcset="/img/trains/pilates.avif" type="image/avif">
              <source srcset="/img/trains/pilates.webp" type="image/webp">
              <img loading="lazy" src="/img/trains/pilates.jpg" class="our-programs__image" width="540" height="360" alt="Пилатес">
            </picture>
            <div class="our-programs__swiper-title title">Пилатес</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="our-programs__item">
            <picture>
              <source srcset="/img/trains/power.avif" type="image/avif">
              <source srcset="/img/trains/power.webp" type="image/webp">
              <img loading="lazy" src="/img/trains/power.jpg" class="our-programs__image" width="540" height="360"
                alt="Силовые тренировки">
            </picture>
            <div class="our-programs__swiper-title title">Силовые</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
